body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
.center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    background-color: teal;
    color: white;
  }
.navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
.nav-item {
    display: inline-block;
  }
.nav-link {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
  }
.nav-link:hover {
    background-color: #555;
  }
.pic {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;

  }
.loadbar {
    border-radius: 100px 100px 100px 100px;
    width: 420px;
    height: 25px;
    background: #d4d4d4;
}
.load {
    border-radius: 100px 100px 100px 100px;
    width: 252px;
    height: 25px;
    background: #014D6D;
    margin-top: -25px;
}
.percent {
    margin-top: -25px;
    margin-left: 190px;
}
.load1 {
    border-radius: 100px 100px 100px 100px;
    width: 336px;
    height: 25px;
    background: #014D6D;
    margin-top: -25px;
}
.loadbarfull{
    border-radius: 100px 100px 100px 100px;
    width: 420px;
    height: 25px;
    background: #014D6D;
}
.light-mode {
  background: linear-gradient(to right, white, teal);
  color: black;
}
.dark-mode {
  background: linear-gradient(to right, black, teal);
  color: white;
}
.dark-mode .navbar,
.dark-mode .overlay-image {
  filter: invert(1);
}
.mode-toggle {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mode-toggle button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #afafaf;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: maroon;
}
input:focus + .slider {
  box-shadow: 0 0 1px maroon;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}